<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="large-12 columns">
        <div class="row">
          <div class="large-6 columns">
            <p>© {{ site.site_name }} 2019-2020</p>
          </div>
          <div class="large-6 columns">
            <ul class="inline-list right">
              <!--<li><a href="#">Suscribe</a></li>-->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?677a6496c3fa599a36743ae696b7bc3e";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

